name: Build macOS App

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install .
          pip install pyinstaller

      - name: Build app
        run: |
          python installer.py

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: macOS-app
          path: dist/*