name: Build macOS App

permissions:
  contents: read
  actions: read

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install .
          pip install pyinstaller

      - name: Build app
        run: |
          python -m PyInstaller --onefile --windowed \
            --icon="assets/mechsoc_32.ico" \
            --add-data "assets/mechsoc_32.ico:assets" \
            --add-data "assets/mechsoc_128.png:assets" \
            --add-data "assets/mechsoc_256.png:assets" \
            --add-data "assets/version_info.json:." \
            main.py

      - name: Rename .app bundle
        run: |
          mv dist/main.app "dist/MechSoc Email Tool.app"

      - name: Zip .app bundle
        run: |
          cd dist
          zip -r mechsoc_email_tool_macos.zip "MechSoc Email Tool.app"


      - name: Upload macOS artifact
        uses: actions/upload-artifact@v4
        with:
          name: macOS-app
          path: dist/mechsoc_email_tool_macos.zip