name: Publish Latest Builds to GitHub Pages

on:
  workflow_dispatch:
  workflow_run:
    workflows: ["Build Windows App"]
    types: [completed]

jobs:
  publish:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout pages branch
        uses: actions/checkout@v4
        with:
          ref: pages
          persist-credentials: false


      - name: Download windows artifact
        uses: dawidd6/action-download-artifact@v3
        with:
          workflow: build-windows.yml
          name: windows-app
          path: download/windows

      - name: Download macOS artifact
        uses: dawidd6/action-download-artifact@v3
        with:
          workflow: build-macos.yml
          name: macOS-app
          path: download/macos

      - name: Generate links.html
        run: |
          mkdir -p download
          echo "<h2>Latest Downloads</h2>" > download/links.html
          echo "<ul>" >> download/links.html
          echo "<li><a href='/mechsocemailtool/download/windows/main.exe'>Windows (.exe)</a></li>" >> download/links.html
          echo "<li><a href='/mechsocemailtool/download/macos/main.app'>macOS (.app)</a></li>" >> download/links.html
          echo "</ul>" >> download/links.html


      - name: Push to pages branch
        run: |
            git config user.name "github-actions"
            git config user.email "github-actions@github.com"
            git add .
            git commit -m "Update downloads" || echo "No changes to commit"
            git push https://$PAGES_DEPLOY_TOKEN@github.com/HartleyE1/mechsocemailtool.git HEAD:pages
        env:
            PAGES_DEPLOY_TOKEN: ${{ secrets.PAGES_DEPLOY_TOKEN }}